network:
  version: 2
  ethernets:
    {{ vm_interface }}:
      addresses:
        - {{ item.ip }}
      routes:
        - to: default
          via: {{ gateway_ip }}
      nameservers:
        addresses: [{{ dns_servers }}]
